<div class="task-list-container">
    <h2>Tâches</h2>
    <ul id="task-list" class="task-list">
        <li class="task-item" *ngFor="let task of tasks">
            {{ task.title }}
            <button (click)="deleteTask(task)">Supprimer</button>
        </li>
    </ul>
</div>

