.task-list-container {
    border: none;
    box-shadow:  10px 60px -16px var(--secondary-color);
    grid-area: list;
    width: 100%;
}

.task-list-container ul {
    list-style-type: none;
}

.task-list-container li {
    border: 1px solid var(--primary-color);
    border-radius: 0.75rem;
    padding: 0.75rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.task-list-container li:hover {
    color: white;
    background-color: var(--primary-color);
}

button {
    padding: 0.75rem;
    color: white;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 0.75rem;
    border-spacing: 0.75rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color) ;
}

button:active {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 2px;
}