<style>
  :host {
    /* --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68); */

    /* Couleurs */
    --primary-color: #0802A3;
    --secondary-color: #FF4B91;
    --tertiary-color: #FF7676;
    --accent-color: #FFCD4B;
    --background-color: #fafafa;
    --text-color: #263238;

    --success-color: #66bb6a;
    --info-color: #29b6f6;
    --warning-color: #ffca28;
    --danger-color: #e53935;

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    /* Polices */
    --font-family: "Inter", sans-serif;
    --font-size-base: 1rem; /* 16px */
    --font-size-big: 2rem;
    --font-size-lg: 1.25rem;
    --font-size-sm: 0.875rem;

    /* Espacements */
    --spacing-base: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-sm: 0.5rem;

    /* Autres */
    font-family: var(--font-family);
    box-sizing: border-box;
 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: var(--font-size-big);
    color: var(--text-color);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    padding-bottom: var(--spacing-base);
    /* font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol"; */
  }

  p {
    font-size: var(--font-size-base);
    margin: 0;
    color: var(--text-color);
    padding-top: var(--spacing-sm);
  }

  main {
    padding: 1rem;
    margin: 2rem;
  }

  .grid-container {
    width: 100%;
    background-color: var(--background-color);
    padding: var(--spacing-lg);
    border-radius: 0.25rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas:
      "title title"
      "form form"
      "list list"
      "matrix matrix";
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    gap: 2rem;
  }

  .grid-item {
    grid-area: auto;
  }

  .title {
    grid-area: title;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .form {
    grid-area: form;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .list {
    grid-area: list;
    justify-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .matrix {
    grid-area: matrix;
    justify-self: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  @media screen and (max-width: 768px) {
   .grid-container {
    grid-template-columns: 1fr;
   }
  }
</style>

<main class="main">
  <div class="grid-container">
    <div class="container-section grid-item title">
      <h1>Gestion des tâches</h1>
      <p>Bienvenue dans notre application de gestion de tâches, conçue pour vous aider à organiser vos tâches selon leurs priorités en utilisant la matrice d'Eisenhower.
        Cette méthode éprouvée vous permet de distinguer ce qui est urgent et important de ce qui ne l'est pas.
      </p>
      <p>Avec notre outil, vous pouvez facilement ajouter, organiser et suivre vos tâches.</p>
    </div>
    <div class="container-section grid-item form">
      <app-task-form></app-task-form>
    </div>
    <!-- <div class="container-section grid-item list">
      <app-task-list></app-task-list>
    </div> -->
    <div class="container-section grid-item matrix" >
      <app-task-matrix></app-task-matrix>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
