.matrix-container {
    border: none;
    box-shadow:  10px 60px -16px var(--primary-color);
    grid-area: matrix;
}

.matrix-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 2rem;
}

.matrix-quadrant {
    width: 100%;
    height: max-content;
    border: 1px solid var(--primary-color);
    border-radius: 0.75rem;
    padding: 0.75rem;
    margin: 0.75rem;
}

.matrix-quadrant ul {
    list-style-type: none;
}

.matrix-quadrant li {
    background-color: var(--background-color);
    border: 0.1rem solid var(--primary-color);
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.matrix-quadrant li button {
    color: white;
    background-color: var(--danger-color);
    border: none;
    border-radius: 1rem;
    padding: 0.75rem;
}

.matrix-quadrant li button:hover {
    background-color: var(--accent-color);
}

#urgent-important {
    grid-area: 1 / 1 / 2 / 2;
    background-color: var(--danger-color);
    width: 100%;
    height: max-content;
}

#not-urgent-not-important {
    grid-area: 4 / 3 / 2 / 2;
    background-color: var(--info-color);
    width: 100%;
    height: max-content;
}

#urgent-not-important {
    grid-area: 1 / 2 / 2 / 3;
    background-color: var(--warning-color);
    width: 100%;
    height: max-content;
}

#not-urgent-important {
    grid-area: 2 / 1 / 2 / 2;
    background-color: var(--success-color);
    width: 100%;
    height: max-content;
}