<div class="matrix-container">
  <h2>Matrice d'Eisenhower</h2>
  <!--Permet d'organiser les tâches par ordre de priorité-->
  <div class="matrix-grid">
    <div class="matrix-quadrant" id="urgent-important">
      <h3>Urgent et important</h3>
      <ul class="task-list">
        <li class="task-item" *ngFor="let task of getTasksByPriority('urgent-important')">
          {{ task.title }}
          <button (click)="deleteTask(task)">Supprimer</button>
        </li>
      </ul>
    </div>
    <div class="matrix-quadrant" id="not-urgent-important">
      <h3>Pas urgent mais important</h3>
      <ul>
        <li class="task-item" *ngFor="let task of getTasksByPriority('not-urgent-important')">
          {{ task.title }}
          <button (click)="deleteTask(task)">Supprimer</button>
        </li>
        <li>
          Apprendre le code
          <button>Supprimer</button>
        </li>
        <li>
          Apprendre le RGPD
          <button>Supprimer</button>
        </li>
      </ul>
    </div>
    <div class="matrix-quadrant" id="urgent-not-important">
      <h3>Urgent mais pas important</h3>
      <ul>
        <li class="task-item" *ngFor="let task of getTasksByPriority('urgent-not-important')">
          {{ task.title }}
          <button (click)="deleteTask(task)">Supprimer</button>
        </li>
        
      </ul>
    </div>
    <div class="matrix-quadrant" id="not-urgent-not-important">
      <h3>Pas urgent et pas important</h3>
      <ul>
        <li class="task-item" *ngFor="let task of getTasksByPriority('not-urgent-not-important')">
          {{ task.title }}
          <button (click)="deleteTask(task)">Supprimer</button>
        </li>
      </ul>
    </div>
  </div>
</div>
