<div class="task-form-container">
    <h2>Ajouter</h2>
    <form #taskForm="ngForm" (ngSubmit)="addTask(taskForm)">
        <label for="title">Titre :</label>
        <input type="text" id="title" name="title" [(ngModel)]="task.title" required>
        <label for="description">Description :</label>
        <textarea id="description" name="description" rows="4" cols="50" [(ngModel)]="task.description"></textarea>
        <label for="priority">Priorité : </label>
        <select id="priority" name="priority" [(ngModel)]="task.priority" required>
            <option value="">Choisissez un niveau de priorité</option>
            <option value="urgent-important">Urgent et important</option>
            <option value="not-urgent-important">Pas urgent mais important</option>
            <option value="urgent-not-important">Urgent mais pas important</option>
            <option value="not-urgent-not-important">Pas urgent et pas important</option>
        </select>
        <button type="submit">Ajouter une tâche</button>
    </form>
</div>
