task-form-container {
    border: none;
    box-shadow:  10px 60px -16px var(--secondary-color);
    grid-area: form;
    width: 100%;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    color: var(--primary-color);
}

input[type="text"] {
    border-radius: 0.75rem;
    padding: 0.5rem;
}

input[type="text"]:focus, textarea:focus  {
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
}

textarea {
    padding: 0.5rem;
    border-radius: 0.75rem;
}

select {
    padding: 10px;
    border-radius: 0.75rem;
}

button {
    padding: 10px;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: var(--secondary-color);
}